<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/inner_style/navigation_header_style.css}">
</head>
<body>
<header class="nav-header">
    <div class="nav-block">
        <a class="nav-link" th:href="@{/candidates}">Все Кандидаты</a>
        <a class="nav-link" th:href="@{/candidates/add}">Добавить Кандидата</a>
    </div>
    <div class="nav-block">
        <a class="nav-link" th:href="@{/tests}">Все Тесты</a>
        <a class="nav-link" th:href="@{/tests/add}">Добавить Тест</a>
    </div>
    <div class="nav-block">
        <a class="nav-link" th:href="@{/directions}">Все Направления</a>
        <a class="nav-link" th:href="@{/directions/add}">Добавить Направление</a>
    </div>
    <div class="nav-block">
        <a class="nav-link" th:href="@{/results}">Все Результаты</a>
        <a class="nav-link" th:href="@{/results/add}">Добавить Результат</a>
    </div>
</header>
</body>
</html>