<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/inner_style/filter_and_sort_style.css}">
</head>
<body>


<div class="filter">
    <form action="" id="filter-candidate-form">
        <input type="hidden" name="page" th:value="${0}">
        <input type="hidden" name="size" th:value="${pageSize}">
        <input class="input-block" type="text" th:name="name" th:value="${filterName}"
               placeholder="Введите имя кандидата">
        <input class="input-block" type="text" th:name="secondName" th:value="${filterSecondName}"
               placeholder="Введите фамилию кандидата">
        <input class="input-block" type="text" th:name="patronymic" th:value="${filterPatr}"
               placeholder="Введите отчество кандидата">
        <div class="selection-block">
            <input class="selection-checkbox" th:each="direction : ${allDirections}" th:name="dir"
                   th:value="${direction.name}"
                   id="direction"
                   type="checkbox" th:text="${direction.name}"
                   th:checked="${filterDirections != null && filterDirections.contains(direction.name)}">
        </div>

        <div class="filter-button-block">
            <button class="submit-filter-button" type="submit">Фильтр</button>
        </div>
        <input th:if="${sort != null && direction != null}" type="hidden" name="sort" th:value="${sort}">
        <input th:if="${sort != null && direction != null}" type="hidden" name="direction" th:value="${direction}">
    </form>
</div>
<div class="control-container">
    <div class="sort-container">
        <div class="sort-main-block">
            <span>Имя</span>
            <form class="sort-form" action="" th:with="sortDirection='ASC'">
                <input type="hidden" name="page" th:value="${0}">
                <input type="hidden" name="size" th:value="${pageSize}">
                <input type="hidden" th:name="name" th:value="${filterName}">
                <input type="hidden" th:name="secondName" th:value="${filterSecondName}">
                <input type="hidden" th:name="patronymic" th:value="${filterPatr}">
                <input type="hidden" th:name="dir" th:if="${filterDirections != null}"
                       th:attr="value=${#strings.arrayJoin(filterDirections, ',')}">
                <input type="hidden" class="selected-radio" th:name="sort" th:value="name">
                <div class="sort-block">
                    <div class="sort-inner-block">
                        <img class="image" th:src="@{/images/up.png}" onclick="sortData(this)">
                        <input class="sort-radio" th:name="direction" th:value="ASC" type="radio">
                    </div>
                </div>
                <div class="sort-block">
                    <div class="sort-inner-block">
                        <img class="image" th:src="@{/images/down.png}" onclick="sortData(this)">
                        <input class="sort-radio" th:name="direction" th:value="DESC" type="radio">
                    </div>
                </div>
            </form>
            <div class="sort-main-block">
                <span>Фамилия</span>
                <form class="sort-form" action="">
                    <input type="hidden" name="page" th:value="${0}">
                    <input type="hidden" name="size" th:value="${pageSize}">
                    <input type="hidden" th:name="name" th:value="${filterName}">
                    <input type="hidden" th:name="secondName" th:value="${filterSecondName}">
                    <input type="hidden" th:name="patronymic" th:value="${filterPatr}">
                    <input type="hidden" th:name="dir" th:if="${filterDirections != null}"
                           th:attr="value=${#strings.arrayJoin(filterDirections, ',')}">
                    <input type="hidden" class="selected-radio" th:name="sort" th:value="secondName">
                    <div class="sort-block">
                        <div class="sort-inner-block">
                            <img class="image" th:src="@{/images/up.png}" onclick="sortData(this)">
                            <input class="sort-radio" th:name="direction" th:value="ASC" type="radio">
                        </div>
                    </div>
                    <div class="sort-block">
                        <div class="sort-inner-block">
                            <img class="image" th:src="@{/images/down.png}" onclick="sortData(this)">
                            <input class="sort-radio" th:name="direction" th:value="DESC" type="radio">
                        </div>
                    </div>
                </form>
            </div>
            <div class="sort-main-block">
                <span>Отчество</span>
                <form class="sort-form" action="">
                    <input type="hidden" name="page" th:value="${0}">
                    <input type="hidden" name="size" th:value="${pageSize}">
                    <input type="hidden" th:name="name" th:value="${filterName}">
                    <input type="hidden" th:name="secondName" th:value="${filterSecondName}">
                    <input type="hidden" th:name="patronymic" th:value="${filterPatr}">
                    <input type="hidden" th:name="dir" th:if="${filterDirections != null}"
                           th:attr="value=${#strings.arrayJoin(filterDirections, ',')}">
                    <input type="hidden" class="selected-radio" th:name="sort" th:value="patronymic">
                    <div class="sort-block">
                        <div class="sort-inner-block">
                            <img class="image" th:src="@{/images/up.png}" onclick="sortData(this)">
                            <input class="sort-radio" th:name="direction" th:value="ASC" type="radio">
                        </div>
                    </div>
                    <div class="sort-block">
                        <div class="sort-inner-block">
                            <img class="image" th:src="@{/images/down.png}" onclick="sortData(this)">
                            <input class="sort-radio" th:name="direction" th:value="DESC" type="radio">
                        </div>
                    </div>
                </form>
            </div>
            <div class="sort-main-block">
                <span>Направления</span>
                <form class="sort-form" action="">
                    <input type="hidden" name="page" th:value="${0}">
                    <input type="hidden" name="size" th:value="${pageSize}">
                    <input type="hidden" th:name="name" th:value="${filterName}">
                    <input type="hidden" th:name="secondName" th:value="${filterSecondName}">
                    <input type="hidden" th:name="patronymic" th:value="${filterPatr}">
                    <input type="hidden" th:name="dir" th:if="${filterDirections != null}"
                           th:attr="value=${#strings.arrayJoin(filterDirections, ',')}">
                    <input type="hidden" class="selected-radio" th:name="sort" th:value="directions.name">
                    <div class="sort-block">
                        <div class="sort-inner-block">
                            <img class="image" th:src="@{/images/up.png}" onclick="sortData(this)">
                            <input class="sort-radio" th:name="direction" th:value="ASC" type="radio">
                        </div>
                    </div>
                    <div class="sort-block">
                        <div class="sort-inner-block">
                            <img class="image" th:src="@{/images/down.png}" onclick="sortData(this)">
                            <input class="sort-radio" th:name="direction" th:value="DESC" type="radio">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>