<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Test</title>
    <link rel="stylesheet" th:href="@{/inner_style/navigation_header_style.css}">
    <link rel="stylesheet" th:href="@{/tests_style/add_new_test_style.css}">

</head>
<body>
<div th:replace="inner/navigation_header :: header"></div>

<div class="test-container">

    <form id="newTestForm" th:object="${newTest}">
        <div class="test">
            <div class="test-input-block">
                <label class="test-label">Название</label>
                <input class="input-field" th:field="*{name}" type="text" placeholder="Введите название теста."
                       id="test-name-filed"
                       minlength="2" maxlength="50">
            </div>
            <div class="test-input-block">
                <label class="test-label">Описание</label>
                <textarea class="text-input-field" th:field="*{description}" placeholder="Введите описание теста."
                          id="test-description-field" minlength="2" maxlength=""></textarea>
            </div>
            <div class="select-specializations-container">
                <th:block th:each="specialization : ${specializations}">
                    <label>
                        <input class="selection-block" th:field="*{testSpecializations}"
                               th:value="${specialization.id}" id="specialization" type="checkbox">
                        <span th:text="${specialization.name}"></span>
                    </label>
                </th:block>
            </div>
            <div class="button-block">
                <button type="button" id="create-new-test-button" class="test-process-button"
                        onclick="validateBeforeSend()">Добавить
                </button>
                <button type="reset" class="test-process-button">Очистить</button>
            </div>
        </div>
    </form>

    <div id="notification" class="notification">

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function addNewCandidateRequest() {

        var formData = new FormData($('#newTestForm')[0]);

        console.log(formData)

        $.ajax({
            url: '/api/v1/tests/',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data, status, xhr) {
                if (xhr.status === 200) {
                    showNotification("Новый тест успешно добавлен!", 1000);
                    setTimeout(function () {
                        window.location.href = "/tests/add"
                    }, 1000);

                }
            },
            error: function () {
                showNotification("Тест с таким названием уже существует!", 1000);
            }
        });
    }

    function validateBeforeSend() {
        var testName = $('#test-name-filed').val();
        var checkedSpec = $('input[type="checkbox"]:checked').length;

        if (testName.length < 2 || checkedSpec === 0) {
            showNotification("Обязательно выбирите название и как минимум одно направление!", 1000);
        } else {
            addNewCandidateRequest();
        }
    }


    const notification = document.getElementById('notification');

    function showNotification(message, duration) {
        notification.textContent = message;
        notification.style.opacity = '1';

        setTimeout(() => {
            notification.style.opacity = '0';
        }, duration);
    }


</script>
</body>
</html>