<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Test</title>
</head>
<body>

<input type="hidden" id="_csrf_token" name="_csrf" th:content="${_csrf.token}">

<div class="test-container">
    <div class="test">
        <form id="newTestForm" th:object="${newTest}">
            <div class="test-input-block">
                <label class="test-label">Название</label>
                <input th:field="*{name}" type="text" placeholder="Введите название теста." id="test-name-filed"
                       minlength="2" maxlength="50">
            </div>
            <div class="test-input-block">
                <label class="test-label">Название</label>
                <textarea th:field="*{description}" placeholder="Введите название теста."
                          id="test-description-field" minlength="2" maxlength=""></textarea>
            </div>
            <div class="test-directions-block">
                <div class="select-directions-container">
                    <input th:each="direction : ${directions}" th:field="*{testDirections}"
                           th:value="${direction.id}"
                           id="direction" type="checkbox" th:text="${direction.name}">
                </div>
            </div>
            <div class="button-block">
                <button type="button" id="create-new-test-button" class="test-process-button"
                        onclick="validateBeforeSend()">Добавить
                </button>
                <button type="reset" class="test-process-button">Очистить</button>
            </div>
        </form>
    </div>
    <div id="notification" class="notification">

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var csrf_token = $('#_csrf_token').attr("content");

    function addNewCandidateRequest() {

        var formData = new FormData($('#newTestForm')[0]);

        console.log(formData)

        $.ajax({
            url: '/task/test/rest/add/new',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-TOKEN', csrf_token);
            },
            success: function (data, status, xhr) {
                if (xhr.status === 200) {
                    showNotification("Новый тест успешно добавлен!", 1000);
                    setTimeout(function () {
                        window.location.href = "/task/tests/add"
                    }, 1000);

                }
            },
            error: function () {
                showNotification("Тест с таким названием уже существует!", 1000);
            }
        });
    }

    function validateBeforeSend() {
        var testName = $('#test-name-filed').val();
        var checkedDirection = $('input[type="checkbox"]:checked').length;

        if (testName.length < 2 || checkedDirection === 0) {
            showNotification("Обязательно выбирите название и как минимум одно направление!", 1000);
        } else {
            addNewCandidateRequest();
        }
    }


    const notification = document.getElementById('notification');

    function showNotification(message, duration) {
        notification.textContent = message;
        notification.style.opacity = '1';

        setTimeout(() => {
            notification.style.opacity = '0';
        }, duration);
    }


</script>
</body>
</html>