<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <link rel="stylesheet" th:href="@{/inner_style/navigation_header_style.css}">
    <link rel="stylesheet" th:href="@{/tests_style/test_style.css}">
</head>
<body>
<div th:replace="inner/navigation_header :: header"></div>
<div class="container" th:if="${test != null}" th:object="${test}">
    <div class="test-info-block">
        <div class="test-name-block">
            <label class="def-label">Название : </label>
            <span class="test-info" th:text="${test.name}"></span>
        </div>

        <div class="test-name-block">
            <label class="def-label">Описание : </label>
            <span class="test-info" th:text="${test.description}"></span>
        </div>
        <div class="test-specializations-block">
            <label style="text-align: center">Направления :</label>
            <div th:each="testSpec : ${test.specializations}">
                <a class="specialization-link" th:href="@{/specializations/__${testSpec.id}__}">
                    <span class="link-text" th:text="${testSpec.name}"></span>
                </a>
            </div>
        </div>
        <div class="button-block">
            <a class="submit-button" th:href="@{/tests/edit/__${test.id}__}">Изменить тест</a>
        </div>
    </div>
</div>

</body>
</html>