<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Page</title>
    <link rel="stylesheet" th:href="@{/inner_style/navigation_header_style.css}">

</head>
<body>
<div th:replace="inner/navigation_header :: header"></div>

<div th:if="${test != null}" th:object="${test}">
    <div class="test-info-block">
        <div class="test-name-block">
            <span th:text="${test.name}"></span>
        </div>

        <div class="test-description-block">
            <span th:text="${test.description}"></span>
        </div>

        <div class="test-directions-block" th:each="testDirection : ${test.directions}">
            <a th:href="@{/directions/__${testDirection.id}__}" th:text="${testDirection.name}"></a>
        </div>
        <div class="button-block">
            <a th:href="@{/tests/edit/__${test.id}__}">Изменить тест</a>
        </div>
    </div>
</div>

</body>
</html>