<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New</title>
    <link rel="stylesheet" th:src="@{/candidates/add_new_candidate_style.css}">
    <link rel="stylesheet" th:href="@{/inner_style/navigation_header_style.css}">

</head>
<body>

<div th:replace="inner/navigation_header :: header"></div>
<div>
    <form th:object="${newCandidate}" enctype="multipart/form-data" id="newCandidateForm">
        <input th:field="*{name}" type="text" id="input-name-field" placeholder="Введите имя кандидата" minlength="2"
               maxlength="25" required>
        <input th:field="*{second_name}" type="text" id="input-second-name-field"
               placeholder="Введите фамилию кандидата" minlength="3" maxlength="25" required>
        <input th:field="*{patr}" type="text" id="input-patronymic-field" placeholder="Введите отчество кандидата"
               required minlength="3" maxlength="25">
        <textarea th:field="*{candidateDesc}" id="input-candidate-description-field"
                  placeholder="Внесите описанеи кандидата"
                  required minlength="3" maxlength="100"></textarea>
        <div class="select-directions-container">
            <input th:each="direction : ${allDirections}" th:field="*{directions}" th:value="${direction.id}"
                   id="direction" type="checkbox" th:text="${direction.name}">
        </div>
        <div class="input-file-container">
            <input th:field="*{cvFile}" accept="application/pdf" name="cvFile" type="file" id="input-cv-file">
            <input th:field="*{imageFile}" name="imageFile" type="file" id="input-image-file" accept=".png,.jpeg,.jpg">
        </div>
        <button type="button" onclick="validateBeforeSend()">ADD</button>
    </form>
</div>
<div id="notification" class="notification">

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function addNewCandidateRequest() {

        var formData = new FormData($('#newCandidateForm')[0]);
        console.log(formData)
        $.ajax({
            url: '/api/v1/candidates/',
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            success: function (data, status, xhr) {
                if (xhr.status === 200) {
                    showNotification("Пользователь успешно добавлен", 1000);
                    setTimeout(function () {
                        window.location.href = "/candidates/add"
                    }, 1000);
                    console.log("новый клиент был загружен на сервер")
                }
            },
            error: function () {
                showNotification("Заполните все поля!", 1000);
            }
        });
    }

    function validateBeforeSend() {
        var name = $('#input-name-field').val();
        var secondName = $('#input-second-name-field').val();
        var patronymic = $('#input-patronymic-field').val();
        var description = $('#input-candidate-description-field').val();

        var checkedDirection = $('input[type="checkbox"]:checked').length;
        if (name.length < 2 || secondName.length < 3 || patronymic.length < 3 || checkedDirection === 0 || description.length < 2) {
            showNotification("Форма должна включить в себя ФИО, и как минимум одно направление!", 1000);
            return;
        } else {
            addNewCandidateRequest();
        }
    }

    const notification = document.getElementById('notification');

    function showNotification(message, duration) {
        notification.textContent = message;
        notification.style.opacity = '1';

        setTimeout(() => {
            notification.style.opacity = '0';
        }, duration);
    }


</script>
</body>
</html>