<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New</title>
    <link rel="stylesheet" th:src="@{/candidates/add_new_candidate_style.css}">

</head>
<body>
<!--<div class="container">-->
<!--    <div class="input-data-container">-->
<!--        <input type="text" id="input-name-field" placeholder="Input candidate name">-->
<!--        <input type="text" id="input-second-name-field" placeholder="Input candidate second name">-->
<!--        <input type="text" id="input-patronymic-field" placeholder="Input candidate patronymic">-->
<!--        <input type="hidden" id="_csrf_token" name="_csrf" th:content="${_csrf.token}">-->

<!--        <div class="select-directions-container">-->
<!--            <input class="select-direction" id="" type="checkbox" th:each="direction : ${directions}"-->
<!--                   th:text="${direction.name}"-->
<!--                   th:value="${direction.id + ',' + direction.name + ',' + direction.description}">-->
<!--        </div>-->


<!--        <div class="input-file-container">-->
<!--            <input type="file" id="input-cv-file">-->
<!--            <input type="file" id="input-image-file">-->
<!--        </div>-->


<!--    </div>-->

<!--    <div class="button-container">-->
<!--        <button onclick="addNewCandidateRequest()" type="submit">ADD</button>-->
<!--        <button type="reset">CLEAR</button>-->
<!--    </div>-->

<!--</div>-->
<input type="hidden" id="_csrf_token" name="_csrf" th:content="${_csrf.token}">

<div>
    <form th:object="${newCandidate}" enctype="multipart/form-data" id="newCandidateForm">
        <input th:field="*{name}" type="text" id="input-name-field" placeholder="Введите имя кандидата" minlength="2"
               maxlength="25" required>
        <input th:field="*{second_name}" type="text" id="input-second-name-field"
               placeholder="Введите фамилию кандидата" minlength="3" maxlength="25" required>
        <input th:field="*{patr}" type="text" id="input-patronymic-field" placeholder="Введите отчество кандидата"
               required minlength="3" maxlength="25">
        <textarea th:field="*{candidateDesc}" id="input-candidate-description-field" placeholder="Внесите описанеи кандидата"
                  required minlength="3" maxlength="100"></textarea>
        <div class="select-directions-container">
            <input th:each="direction : ${allDirections}" th:field="*{directions}" th:value="${direction.id}"
                   id="direction" type="checkbox" th:text="${direction.name}">
        </div>
        <div class="input-file-container">
            <input th:field="*{cvFile}" accept="application/pdf" name="cvFile" type="file" id="input-cv-file">
            <input th:field="*{imageFile}" name="imageFile" type="file" id="input-image-file" accept=".png,.jpeg,.jpg">
        </div>
        <button type="button" onclick="validateBeforeSend()">ADD</button>
    </form>
</div>

<div id="notification" class="notification">

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var csrf_token = $('#_csrf_token').attr("content");


    function addNewCandidateRequest() {

        var formData = new FormData($('#newCandidateForm')[0]);

        var candidateData = {};
        formData.forEach(function (value, key) {
            candidateData[key] = value;
        });


        $.ajax({
            url: '/task/candidates/rest/add/new',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-TOKEN', csrf_token);
            },
            success: function (data, status, xhr) {
                if (xhr.status === 200) {
                    showNotification("Пользователь успешно добавлен", 1000);
                    setTimeout(function () {
                        window.location.href = "/task/candidates/add"
                    }, 1000);

                    console.log("новый клиент был загружен на сервер")
                }
            },
            error: function () {
                showNotification("Заполните все поля!", 1000);

            }
        });
    }

    function validateBeforeSend() {
        var name = $('#input-name-field').val();
        var secondName = $('#input-second-name-field').val();
        var patronymic = $('#input-patronymic-field').val();
        var description = $('#input-candidate-description-field').val();

        var checkedDirection = $('input[type="checkbox"]:checked').length;
        if (name.length < 2 || secondName.length < 3 || patronymic.length < 3 || checkedDirection === 0 || description.length < 2) {
            showNotification("Форма должна включить в себя ФИО, и как минимум одно направление!", 1000);
            return;
        } else {
            addNewCandidateRequest();
        }
    }

    const notification = document.getElementById('notification');

    function showNotification(message, duration) {
        notification.textContent = message;
        notification.style.opacity = '1';

        setTimeout(() => {
            notification.style.opacity = '0';
        }, duration);
    }


</script>
</body>
</html>