<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Candidates</title>
    <link rel="stylesheet" th:href="@{/inner_style/navigation_header_style.css}">

    <link rel="stylesheet" th:href="@{/inner_style/filter_and_sort_style.css}">
</head>
<body>

<div th:replace="inner/navigation_header :: header"></div>


<div th:replace="inner/sort_and_filter_candidate :: div"></div>

<div class="all-candidates-container">
    <div class="candidates-list" th:each="candidate : ${allCandidates}">
        <div class="candidate">
            <a th:href="@{/task/candidates/candidate/__${candidate.id}__}">
                <div class="candidate-image-block">
                    <img src="" th:if="${candidate.image != null}"
                         th:src="@{'data:image/*;base64,'+ ${candidate.image.generateBase64Image()}}"
                         style="height: 100px">
                </div>
            </a>
            <div class="candidate-info-block" th:value="${candidate.id}">
                <span th:text="${candidate.name}">name</span>
                <span th:text="${candidate.secondName}">second_name</span>
                <span th:text="${candidate.patronymic}">part</span>
            </div>

            <div class="candidates-direction">
                <ul th:each="direction : ${candidate.directions}">
                    <li th:text="${direction.name}">direction</li>
                </ul>
            </div>
            <div class="button-block">
                <a class="candidate-process-button"
                   th:href="@{/task/candidates/candidate/edit/__${candidate.id}__}">EDIT</a>
            </div>
        </div>
    </div>
</div>
<div class="pagination-links-container" th:if="${allCandidates.totalPages >= 0}">
    <form action="">
        <input type="hidden" name="sort" th:value="${sort}">
        <input type="hidden" name="direction" th:value="${direction}">
        <input type="hidden" name="filter" th:value="${filter}">
        <input type="hidden" th:name="name" th:value="${filterName}">
        <input type="hidden" th:name="secondName" th:value="${filterSecondName}">
        <input type="hidden" th:name="patronymic" th:value="${filterPatr}">
        <input type="hidden" th:name="dir" th:if="${filterDirections != null}"
               th:attr="value=${#strings.arrayJoin(filterDirections, ',')}">
        <div th:each="pageNumber : ${#numbers.sequence(0, allCandidates.totalPages - 1)}">
            <button type="submit" th:name="page" th:value="${pageNumber}" th:text="${pageNumber}"></button>
        </div>
        <input type="hidden" name="size" th:value="${pageSize}">
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var url = new URLSearchParams(window.location.search);
        var sort = url.get('sort');
        var direction = url.get('direction');
        $('.sort-form').each(function () {
            var sortInput = $(this).find('.selected-radio[name="sort"]').val();
            var directionInput = $(this).find('.sort-radio[name="direction"]').val();

            if (sortInput === sort && directionInput === direction) {
                $(this).find('.selected-radio[name="sort"]').closest('.image').css('background', '#8f8f8f');
            }
        });
    });

    function sortData(element) {
        var radioInput = $(element).closest('.sort-inner-block').find('.sort-radio');
        radioInput.prop('checked', true);
        var form = $(element).closest('.sort-form');
        form.submit();
    }

</script>


</body>
</html>