<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Candidate</title>
    <link rel="stylesheet" th:href="@{/inner_style/navigation_header_style.css}">
    <link rel="stylesheet" th:href="@{/candidate_style/candidate_style.css}">

</head>
<body>

<div th:replace="inner/navigation_header :: header"></div>


<div class="candidate-container" th:if="${candidate != null }">
    <div class="candidate">
        <div class="candidate-image-block">
            <img class="candidate-image" th:src="@{'data:image/jpg;base64,'+ ${candidate.image.generateBase64Image()}}">
        </div>

        <div class="candidate-info-block" th:value="${candidate.id}">
            <span class="info-text" th:text="${candidate.name}">name</span>
            <span class="info-text" th:text="${candidate.secondName}">second name</span>
            <span class="info-text" th:text="${candidate.patronymic}">patr</span>
        </div>

        <span class="def-label">Направления : </span>
        <div class="candidate-specializations-block">
            <ul>
                <li th:each="specialization : ${candidate.specializations}">
                    <a class="specialization-link" th:href="@{/specializations/__${specialization.id}__}">
                        <span class="link-text" th:text="${specialization.name}"></span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="cv-block" th:if="${candidate.cv != null}">
            <label class="def-label">CV Файл Кандидата</label>
            <a class="file-link" th:href="@{/file/__${candidate.id}__}"
               th:text="${candidate.cv.cvFileName}"></a>
        </div>

        <div class="cv-block" th:if="${candidate.cv == null}">
            <label class="def-label">CV Файла Нет</label>
        </div>
        <div class="button-block">
            <a class="candidate-process-button" th:href="@{/candidates/edit/__${candidate.id}__}">Редактировать</a>
        </div>
    </div>


</div>

<div class="candidate-container" th:if="${candidate == null }">
    <h1>Упс....Клиент не найден</h1>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>


</script>

</body>
</html>