<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Candidate</title>
    <link rel="stylesheet" th:href="@{/inner_style/navigation_header_style.css}">
</head>
<body>

<div th:replace="inner/navigation_header :: header"></div>


<div class="candidate-container" th:if="${candidate != null }">
    <div class="candidate">
        <div class="candidate-image-block">
            <img th:src="@{'data:image/jpg;base64,'+ ${candidate.image.generateBase64Image()}}">
        </div>

        <div class="candidate-info-block" th:value="${candidate.id}">
            <span th:text="${candidate.name}">name</span>
            <span th:text="${candidate.secondName}">second name</span>
            <span th:text="${candidate.patronymic}">patr</span>
        </div>

        <div class="candidate-directions-block">
            <ul th:each="direction : ${candidate.directions}">
                <li>
                    <a th:href="@{/directions/__${direction.id}__}" th:text="${direction.name}"></a>
                </li>
            </ul>
        </div>

        <div th:if="${candidate.cv != null}">
            <label>CV Файл Кандидата</label>
            <a th:href="@{/file/__${candidate.id}__}"
               th:text="${candidate.cv.cvFileName}"></a>
        </div>

        <div th:if="${candidate.cv == null}">
            <label>NO CV FILE</label>
        </div>
    </div>

    <div class="button-block">
        <a class="candidate-process-button" th:href="@{/candidates/edit/__${candidate.id}__}">Редактировать</a>
    </div>
</div>

<div class="candidate-container" th:if="${candidate == null }">
    <h1>Упс....Клиент не найден</h1>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>


</script>

</body>
</html>