<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Candidate</title>
</head>
<body>
<input type="hidden" id="_csrf_token" name="_csrf" th:content="${_csrf.token}">

<div class="candidate-container" th:if="${candidate != null }">
    <div class="candidate">
        <div class="candidate-image-block">
            <img th:src="@{'data:image/jpg;base64,'+ ${candidate.image.generateBase64Image()}}">
        </div>

        <div class="candidate-info-block" th:value="${candidate.id}">
            <span th:text="${candidate.name}">name</span>
            <span th:text="${candidate.secondName}">second name</span>
            <span th:text="${candidate.patronymic}">patr</span>
        </div>

        <div class="candidate-directions-block">
            <ul th:each="direction : ${candidate.directions}">
                <li th:text="${direction.name}">
                    <!--                    добавить ссылку на направление-->
                </li>
            </ul>
        </div>

        <div th:if="${candidate.curriculumVitae != null}">
            <label>Candidate CV FILE</label>
            <a th:href="@{/task/view/file/candidate/__${candidate.id}__}"
               th:text="${candidate.curriculumVitae.cvFileName}"></a>
        </div>

        <div th:if="${candidate.curriculumVitae == null}">
            <label>NO CV FILE</label>
        </div>
    </div>

    <div class="button-block">
        <button class="candidate-process-button" id="remove-button" th:value="${candidate.id}"
                onclick="sendRemoveRequest(this)">REMOVE
        </button>
        <a class="candidate-process-button" th:href="@{/task/candidates/candidate/edit/__${candidate.id}__}">EDIT</a>
    </div>

    <div id="notification" class="notification">

    </div>

</div>

<div class="candidate-container" th:if="${candidate == null }">
    <h1>Упс....Клиент не найден</h1>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    var csrf_token = $('#_csrf_token').attr("content");

    function sendRemoveRequest(element) {
        var candidateID = $('.candidate-info-block').attr('value');

        $.ajax({
            url: '/task/candidates/rest/remove/candidate/' + candidateID,
            type: 'DELETE',
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-TOKEN', csrf_token);
            },
            success: function (data, status, xhr) {
                if (xhr.status === 200) {
                    showNotification("Пользователь успешно удален", 1000);
                    setTimeout(function () {
                        window.location.href = "/task/candidates/view/all";
                    }, 1000);
                }
            },
            error: function () {
                showNotification("Произошла ошибка !", 1000);
            }
        });

        console.log(candidateID);
    }


    const notification = document.getElementById('notification');

    function showNotification(message, duration) {
        notification.textContent = message;
        notification.style.opacity = '1';

        setTimeout(() => {
            notification.style.opacity = '0';
        }, duration);
    }


</script>

</body>
</html>