body {
    width: 100%;
    margin: 0;
}

.nav-header {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    background-color: rgba(255, 228, 196, 0.8);
}

.nav-block {
    width: 25%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-link {
    color: darkorange;
    font-size: 15px;
    text-decoration: none;
    margin: 5px;
}
