<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Directions</title>
    <link rel="stylesheet" th:href="@{/condidates/all_candidates_style.css}">

</head>
<body>

<input type="hidden" id="_csrf_token" name="_csrf" th:content="${_csrf.token}">


<div th:replace="inner/sort_and_filter_directions :: div"></div>


<div class="directions-container">
    <div class="direction" th:each="direction : ${directions}">
        <div class="direction-name-field">
            <a th:href="@{/task/directions/direction/__${direction.id}__}">
                <span th:text="${direction.name}">название</span>
            </a>
        </div>

        <div class="direction-name-field">
            <span th:text="${direction.description}" th:value="${direction.description}">Описание</span>
        </div>

        <div class="direction-process-button">
            <a th:href="@{/task/directions/direction/edit/__${direction.id}__}">Изменить</a>
        </div>
    </div>
</div>

<div class="pagination-links-container" th:if="${directions.totalPages >= 0}">
    <form action="">
        <input type="hidden" name="sort" th:value="${sort}">
        <input type="hidden" name="direction" th:value="${direction}">
        <input type="hidden" name="size" th:value="${pageSize}">
        <input type="hidden" th:name="name" th:value="${filterName}">
        <input type="hidden" th:name="description" th:value="${filterDesc}">
        <div th:each="pageNumber : ${#numbers.sequence(0, directions.totalPages - 1)}">
            <button type="submit" th:name="page" th:value="${pageNumber}" th:text="${pageNumber}"></button>
        </div>
    </form>
</div>


<div id="notification" class="notification">

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    const notification = document.getElementById('notification');


    $(document).ready(function () {
        var url = new URLSearchParams(window.location.search);
        var sort = url.get('sort');
        var direction = url.get('direction');
        $('.sort-form').each(function () {
            var sortInput = $(this).find('.selected-radio[name="sort"]').val();
            var directionInput = $(this).find('.sort-radio[name="direction"]').val();
            if (sortInput === sort && directionInput === direction) {
                $(this).find('.sort-inner-block').css('background', '#8f8f8f');
            }
        });
    });

    function sortData(element) {
        var radioInput = $(element).closest('.sort-inner-block').find('.sort-radio');
        radioInput.prop('checked', true);
        var form = $(element).closest('.sort-form');
        form.submit();
    }

    function showNotification(message, duration) {
        notification.textContent = message;
        notification.style.opacity = '1';

        setTimeout(() => {
            notification.style.opacity = '0';
        }, duration);
    }
</script>


</body>
</html>