<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Direction</title>
    <link rel="stylesheet" th:href="@{/inner_style/navigation_header_style.css}">

</head>
<body>
<div th:replace="inner/navigation_header :: header"></div>

<div class="direction-container" th:if="${direction != null}" th:object="${direction}">
    <div class="direction">
        <div class="direction-name-block">
            <span th:text="${direction.name}"></span>
        </div>
        <div class="direction-description">
            <span th:text="${direction.description}"></span>
        </div>
        <div class="button-block">
            <a th:href="@{/task/directions/direction/edit/__${direction.id}__}">Изменить направление</a>
        </div>
    </div>
</div>
</body>
</html>