<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Direction</title>
</head>
<body>


<input type="hidden" id="_csrf_token" name="_csrf" th:content="${_csrf.token}">

<div class="direction-container">
    <div class="direction" th:if="${updateDirection != null}">
        <form id="updateDirection" th:object="${updateDirection}">
            <div class="direction-info">
                <label class="direction-label">Название Направления</label>
                <input th:field="*{name}" class="direction-input-field" type="text" id="direction-name-field"
                       placeholder="Java Developer Trainee" minlength="2" maxlength="30" required
                       th:value="${updateDirection.name}">
            </div>
            <div class="direction-info">
                <label class="direction-label">Придумайте описание для Направления</label>
                <textarea th:field="*{description}" class="direction-input-field" id="direction-description-field"
                          placeholder="Новое развивающееся направление..." th:value="${updateDirection.description}"
                          minlength="2" maxlength="300"> </textarea>
            </div>
            <div class="button-block">
                <button type="button" id="update-direction-button" th:value="${updateDirection.id}" class="form-button"
                        onclick="validateBeforeSend()">
                    Добавить
                </button>
                <button type="reset" id="clear-direction-button" class="form-button"
                        onclick="sendRemoveDirectionRequest()">Удалить
                </button>
            </div>
        </form>
    </div>

    <div th:if="${updateDirection == null}">
        <h1>Такого направления не существует</h1>
    </div>

    <div id="notification" class="notification">

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var csrf_token = $('#_csrf_token').attr("content");


    function addNewCandidateRequest() {

        var formData = new FormData($('#updateDirection')[0]);

        var directionID = $('#update-direction-button').attr('value');

        console.log(formData)

        $.ajax({
            url: '/task/directions/rest/direction/update/' + directionID,
            type: 'PATCH',
            processData: false,
            contentType: false,
            data: formData,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-TOKEN', csrf_token);
            },
            success: function (data, status, xhr) {
                if (xhr.status === 200) {
                    showNotification("Направление успешно обновленно ", 1000);
                    setTimeout(function () {
                        window.location.href = "/task/directions/direction/edit/" + directionID
                    }, 1000);
                }
            },
            error: function () {
                showNotification("Заполните все обязательные поля!", 1000);
            }
        });
    }

    function sendRemoveDirectionRequest() {
        var directionID = $('#update-direction-button').attr('value');

        $.ajax({
            url: '/task/directions/rest/direction/delete/' + directionID,
            type: 'DELETE',
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-TOKEN', csrf_token);
            },
            success: function (data, status, xhr) {
                if (xhr.status === 200) {
                    window.location.href = "/task/directions/view/all";
                }
            },
            error: function () {
                showNotification("Произошла ошибка удаления!", 1000);
            }
        });
    }

    function validateBeforeSend() {
        var dirname = $('#direction-name-field').val();
        if (dirname.length < 2) {
            showNotification("Обязательно введите название!", 1000);
            return;
        } else {
            addNewCandidateRequest();
        }
    }


    const notification = document.getElementById('notification');

    function showNotification(message, duration) {
        notification.textContent = message;
        notification.style.opacity = '1';

        setTimeout(() => {
            notification.style.opacity = '0';
        }, duration);
    }
</script>


</body>
</html>