<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Candidate Test</title>
    <link rel="stylesheet" th:href="@{/inner_style/navigation_header_style.css}">

</head>
<body>
<div th:replace="inner/navigation_header :: header"></div>

<div class="candidate-test-container" th:if="${candidateTest != null}">
    <form id="updateCandidateTestForm" th:object="${candidateTest}" th:value="${candidateTest.candiTestID}">
        <input th:field="*{candiTestID}" type="hidden" th:value="${candidateTest.candiTestID}">
        <div class="candidate-info-block">
            <label>Кандидат :</label>
            <a th:field="*{candidateID}" th:value="${candidate.id}"
               th:href="@{/task/candidates/candidate/__${candidate.id}__}"
               th:text="${candidate.name}"></a>
            <input th:field="*{candidateID}" id="candidate-id" type="hidden" th:value="${candidateTest.candidateID}">
        </div>
        <label>Информация о тесте</label>
        <div class="test-edit-block">
            <input th:field="*{testID}" type="hidden" th:value="${candidateTest.testID}">
            <a th:href="@{/task/tests/test/__${candidateTest.testID}__}" th:text="${candidateTest.testName}"></a>
            <input th:field="*{date}" class="selected-value" id="updated-date" type="date"
                   th:value="${candidateTest.date}">
            <input th:field="*{mark}" class="selected-value" id="updated-value" min="0" max="100" type="number"
                   th:value="${candidateTest.mark}">
        </div>
        <div>
            <button type="button" class="process-block" id="edit-test-results-button"
                    onclick="validateBeforeSend()">Изменить
            </button>
        </div>
    </form>
</div>

<div id="notification" class="notification">

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function editCandidateTestRequest() {

        var formData = new FormData($('#updateCandidateTestForm')[0]);

        var candidateTestID = $('#updateCandidateTestForm').attr('value');

        $.ajax({
            url: '/v1/canditests/' + candidateTestID,
            type: 'PATCH',
            processData: false,
            contentType: false,
            data: formData,

            success: function (data, status, xhr) {
                if (xhr.status === 200) {
                    showNotification("Тест кандидата успешно обновлен ", 1000);
                    setTimeout(function () {
                        window.location.href = "/task/canditests/canditest/edit/candidate/" + candidateTestID
                    }, 1000);
                }
            },
            error: function (xhr) {
                if (xhr.status === 403) {
                    showNotification("У данного пользователя уже есть такой тест с такой датой!", 1500);
                } else {
                    showNotification("Заполните все обязательные поля!", 1000);
                }

            }
        });
    }
    function validateBeforeSend() {
        var dateValue = $('#updated-date').val();
        var markValue = $('#updated-value').val();

        if (dateValue === '' || markValue < 0 || markValue > 100) {
            showNotification("Обязательно выберите дату и оценку теста в пределах [0;100]!", 1000);
        } else {
            editCandidateTestRequest();
        }
    }


    const notification = document.getElementById('notification');

    function showNotification(message, duration) {
        notification.textContent = message;
        notification.style.opacity = '1';

        setTimeout(() => {
            notification.style.opacity = '0';
        }, duration);
    }
</script>


</body>
</html>