<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Specialization</title>
    <link rel="stylesheet" th:href="@{/inner_style/navigation_header_style.css}">
    <link rel="stylesheet" th:href="@{/specialization_style/edit_specialization_style.css}">


</head>
<body>
<div th:replace="inner/navigation_header :: header"></div>
<div class="specialization-container" th:if="${updateSpecialization != null}">
    <form id="updateSpec" th:object="${updateSpecialization}">
        <div class="specialization">
            <div class="specialization-info">
                <label class="specialization-label">Название Направления</label>
                <input th:field="*{name}" class="input-field" type="text" id="specialization-name-field"
                       placeholder="Java Developer Trainee" minlength="2" maxlength="30" required
                       th:value="${updateSpecialization.name}">
            </div>
            <div class="specialization-info">
                <label class="specialization-label">Придумайте описание для Направления</label>
                <textarea th:field="*{description}" class="text-input-field" id="specialization-description-field"
                          placeholder="Новое развивающееся направление..." th:value="${updateSpecialization.description}"
                          minlength="2" maxlength="300"> </textarea>
            </div>
            <div class="button-block">
                <button type="button" id="update-specialization-button" th:value="${updateSpecialization.id}"
                        class="submit-button"
                        onclick="validateBeforeSend()">
                    Добавить
                </button>
            </div>
        </div>
    </form>
    <div id="notification" class="notification">
    </div>
</div>
<div th:if="${updateSpecialization == null}">
    <h1>Такого направления не существует</h1>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>


    function addNewCandidateRequest() {

        var formData = new FormData($('#updateSpec')[0]);

        var specID = $('#update-specialization-button').attr('value');

        $.ajax({
            url: '/api/v1/specializations/' + specID,
            type: 'PATCH',
            processData: false,
            contentType: false,
            data: formData,
            success: function (data, status, xhr) {
                if (xhr.status === 200) {
                    showNotification("Направление успешно обновленно ", 1000);
                    setTimeout(function () {
                        window.location.href = "/specializations/edit/" + specID
                    }, 1000);
                }
            },
            error: function () {
                showNotification("Заполните все обязательные поля!", 1000);
            }
        });
    }


    function validateBeforeSend() {
        var specName = $('#specialization-name-field').val();
        if (specName.length < 2) {
            showNotification("Обязательно введите название!", 1000);
            return;
        } else {
            addNewCandidateRequest();
        }
    }


    const notification = document.getElementById('notification');

    function showNotification(message, duration) {
        notification.textContent = message;
        notification.style.opacity = '1';

        setTimeout(() => {
            notification.style.opacity = '0';
        }, duration);
    }
</script>


</body>
</html>